<html lang="pt-br" class=" bgpositionshorthand bgpositionxy bgrepeatround bgrepeatspace bgsizecover borderradius cssanimations csscalc csstransforms supports csstransforms3d preserve3d csstransitions no-flexboxtweener fontface svg svgasimg svgclippaths svgfilters svgforeignobject inlinesvg smil localstorage sessionstorage websqldatabase multiplebgs"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bootstrap Admin App">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Intramedicos - 404</title><!-- =============== VENDOR STYLES ===============-->
  <!-- FONT AWESOME-->
  {{ style('/vendor/@fortawesome/fontawesome-free/css/brands.css') }}
  {{ style('/vendor/@fortawesome/fontawesome-free/css/regular.css') }}
  {{ style('/vendor/@fortawesome/fontawesome-free/css/solid.css') }}
  {{ style('/vendor/@fortawesome/fontawesome-free/css/fontawesome.css')}}
  {{ style('/vendor/simple-line-icons/css/simple-line-icons.css')}}
  {{ style('/css/bootstrap.css" id="bscss') }}
  {{ style('/css/app.css') }}
</head>

<body>
  <div class="wrapper">
     <div class="abs-center wd-xl">
        <!-- START card-->
        <div class="text-center mb-4">
           <div class="text-lg mb-3">404</div>
           <p class="lead m-0">Não foi possível encontrar esta página</p>
           <p>A página que você está procurando não existe.</p>
        </div>

        <div class="p-3 text-center"><span class="mr-2">©</span><span>2022</span><span class="mr-2">-</span><span>Intramedicos</span><br></div>
     </div>
  </div><!-- =============== VENDOR SCRIPTS ===============-->
  <!-- MODERNIZR-->
  {{ script('/vendor/modernizr/modernizr.custom.js') }}
  {{ script('/vendor/js-storage/js.storage.js') }}
  {{ script('/vendor/i18next/i18next.js') }}
  {{ script('/vendor/i18next-xhr-backend/i18nextXHRBackend.js') }}
  {{ script('/vendor/jquery/dist/jquery.js') }}
  {{ script('/vendor/popper.js/dist/umd/popper.js') }}
  {{ script('/vendor/bootstrap/dist/js/bootstrap.js') }}
  {{ script('/vendor/parsleyjs/dist/parsley.js') }}
  {{ script('/js/app.js') }}
</body></html>
